@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="jumbotron">
        <h1>Diego .Net Test Application</h1>
        <p class="lead">A minimum MVC app created in Visual Studio 2015</p>
        <p><a href="~/Home/QueryForm" class="btn btn-primary btn-lg">Source code &raquo;</a></p>
    </div>
    <div id="contributors">
        @Html.Partial("Contributor")
    </div>
</body>
</html>
<script type="text/javascript">

    $(function () {
        setInterval(function () { $('#contributors').load('/ChartSample/GetContributor'); }, 3000); // every 3 sec
    });

</script>




